$pageWidth: 1200px;
$contentWidth: 780px;
$mobile: $contentWidth + 20px;

$border: #ccc;
$lightBorder: #eee;

$normalText: #777;
$darkText: #666;
$lightText: #aaa;
$xLightText: #ccc;

$link: #4eb0eb;
$emLink: #40d47e;
$lightLink: #aaa;

$textHighlight: #ffffe0;