{% extends 'framework.html' %}
{% load bootstrap3 %}
{% load static %}

{% block subject %}{% endblock %}

{% block content %}
<div class="panel panel-default">
 <div class="panel-heading">{% block form_title %}{% endblock %}</div>
 <div class="panel-body">
    <form role="form" method="post" enctype="multipart/form-data">
       {% bootstrap_form form %}

       <a type="button" class="mb-sm btn btn-default" href="{{ request.session.back_url }}">返回</a>
       <button type="submit" class="mb-sm btn btn-success">提交</button>

       {% csrf_token %}
    </form>

 </div>
</div>
{% endblock %}